.companies {
    display: grid;
    grid-template-columns: repeat(5, 130px);
    justify-content: center;
    column-gap: 90px;
}

.company {
    width: 150px;
    margin-bottom: 50px;
}

.comp-h2 h2{
  border-bottom: 1px solid rgb(175, 167, 167);
  padding-bottom: 20px;
  margin-top: -20px;
}

.img {
    display: flex;
    align-items: center;
    justify-items: center;
}

.images {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.images img {
    height: 100px;
    width: 100px;
}


.left {
    margin-bottom: 80px;
    height: 80px;
    border: 1px solid #7e797911;

}

.right {
    border: 1px solid #66626211;
    margin-top: 20px;
    width: 120px;
}

.img-conc-text {
    font-size: 1rem;
    margin-top: 30px;
    width: 150px;
    text-align: center;
}

.comp-link {
    color: #1897ff;
    text-decoration: underline;
}