@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Raleway:ital,wght@0,300;0,400;0,500;0,700;0,800;0,900;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-font: #ffffff;
  --button-font: #abd745;
  --highlight: #f7f66d;
  --text-color: #fffdfd;
  --header: #000000;
  --button-text: #000000;
  --footer-bg: #1897ff;
}

img {
  width: 100%;
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #e7ece6;

}

nav {
  background-color: #3ba9ff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1007%26quot%3b)' fill='none'%3e%3cpath d='M -667.7156491454124%2c194 C -571.72%2c221 -379.72%2c314 -187.7156491454124%2c329 C 4.28%2c344 100.28%2c249.8 292.2843508545876%2c269 C 484.28%2c288.2 580.28%2c444.4 772.2843508545876%2c425 C 964.28%2c405.6 1118.74%2c163.8 1252.2843508545875%2c172 C 1385.83%2c180.2 1402.46%2c407.2 1440%2c466' stroke='rgba(204%2c 237%2c 255%2c 0.11)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -135.3221918871024%2c52 C -39.32%2c133.6 152.68%2c442 344.6778081128976%2c460 C 536.68%2c478 632.68%2c138.4 824.6778081128975%2c142 C 1016.68%2c145.6 1112.68%2c469.8 1304.6778081128975%2c478 C 1496.68%2c486.2 1757.61%2c189.2 1784.6778081128975%2c183 C 1811.74%2c176.8 1508.94%2c394.2 1440%2c447' stroke='rgba(204%2c 237%2c 255%2c 0.11)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -327.69860892393564%2c239 C -231.7%2c264.4 -39.7%2c407 152.30139107606436%2c366 C 344.3%2c325 440.3%2c14 632.3013910760644%2c34 C 824.3%2c54 920.3%2c438.8 1112.3013910760644%2c466 C 1304.3%2c493.2 1526.76%2c182.6 1592.3013910760644%2c170 C 1657.84%2c157.4 1470.46%2c356.4 1440%2c403' stroke='rgba(204%2c 237%2c 255%2c 0.11)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -134.92570875331182%2c11 C -38.93%2c67 153.07%2c290 345.0742912466882%2c291 C 537.07%2c292 633.07%2c-34.2 825.0742912466882%2c16 C 1017.07%2c66.2 1113.07%2c538 1305.074291246688%2c542 C 1497.07%2c546 1758.09%2c54.2 1785.074291246688%2c36 C 1812.06%2c17.8 1509.01%2c368 1440%2c451' stroke='rgba(204%2c 237%2c 255%2c 0.11)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -895.7391373199079%2c241 C -799.74%2c250.6 -607.74%2c324.4 -415.73913731990785%2c289 C -223.74%2c253.6 -127.74%2c36.4 64.26086268009215%2c64 C 256.26%2c91.6 352.26%2c431 544.2608626800921%2c427 C 736.26%2c423 845.11%2c22.2 1024.260862680092%2c44 C 1203.41%2c65.8 1356.85%2c437.6 1440%2c536' stroke='rgba(204%2c 237%2c 255%2c 0.11)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -685.2042358950598%2c26 C -589.2%2c103 -397.2%2c403.2 -205.20423589505978%2c411 C -13.2%2c418.8 82.8%2c59.8 274.7957641049402%2c65 C 466.8%2c70.2 562.8%2c433.4 754.7957641049402%2c437 C 946.8%2c440.6 1097.75%2c106.4 1234.7957641049402%2c83 C 1371.84%2c59.6 1398.96%2c272.6 1440%2c320' stroke='rgba(204%2c 237%2c 255%2c 0.11)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -490.1574300351581%2c375 C -394.16%2c326.8 -202.16%2c101.6 -10.157430035158104%2c134 C 181.84%2c166.4 277.84%2c529.2 469.8425699648419%2c537 C 661.84%2c544.8 757.84%2c192.8 949.8425699648419%2c173 C 1141.84%2c153.2 1331.81%2c444.6 1429.842569964842%2c438 C 1527.87%2c431.4 1437.97%2c199.6 1440%2c140' stroke='rgba(204%2c 237%2c 255%2c 0.11)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1007'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e"),url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%233c99ff' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%233c8aff' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%233d7aff' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%233d6aff' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%233E5BFF' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%233638ff' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%234b2fff' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%236327ff' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%237d20ff' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%239A18FF' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
  background-position: center;
  background-size: cover;
  display: flex;
  padding: 15px 0 15px 180px;
}

.logo img {
  width: 45px;
  height: 45px;
}

.nav-items {
  color: var(--primary-font);
  display: flex;
  list-style: none;
  margin-left: 50px;
  padding-top: 15px;
}

.active {
  display: inline;
  background-color: var(--highlight);
  color: var(--header);
  text-decoration: none;
  font-weight: 400;
  border-radius: 2px;
  padding: 10px 17px;
}

.nav-items li a {
  margin: 0 17px;
  font-size: .9rem;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  text-transform: capitalize;
}

a {
  text-decoration: none;
  color: #fff;
}

.nav-items li a:hover {
  color: var(--highlight);
  padding-bottom: 10px;
  border-bottom: 1px solid var(--highlight);
}

.header {
    display: flex;
    justify-content: center;
    margin: 70px 0;
  font-family: 'Raleway', sans-serif;
}

.title {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 500;
    margin-right: 30px;
}

.line{
    width: 70px;
    height: 1.7px;
    color: #C3CEB0;
    margin-right: 10px;
}

.title-text {
    font-size: 2rem;
    max-width: 500px;
    font-weight: 400;
  font-family: 'Raleway', sans-serif;
}

.council-members {
    display: grid;
    width: 100%;
    grid-template-columns: 200px 200px 200px 200px 200px;
    justify-content: center;
    column-gap: 20px;
  font-family: 'Lato', sans-serif;
}

.image-conc {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-line {
    margin-top: 20px;
    width: 160px;
    height: 1px;
    border: 1.8px solid #e5dfdf;
}

.member-img-info {
    margin-top: 30px;
    margin-bottom: 70px;
    text-align: center;
    background-color: #C3CEB0;
    height: 80px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 180px;

}

.name {
    margin-bottom: 5px;
}

.member img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
}

footer {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1005%26quot%3b)' fill='none'%3e%3cpath d='M -309.53556175640944%2c212 C -213.54%2c278.6 -21.54%2c554.6 170.46443824359056%2c545 C 362.46%2c535.4 458.46%2c177.8 650.4644382435906%2c164 C 842.46%2c150.2 938.46%2c461.2 1130.4644382435906%2c476 C 1322.46%2c490.8 1548.56%2c255 1610.4644382435906%2c238 C 1672.37%2c221 1474.09%2c360.4 1440%2c391' stroke='rgba(204%2c 237%2c 255%2c 0.06)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -188.50683107736006%2c464 C -92.51%2c376 99.49%2c20.6 291.49316892263994%2c24 C 483.49%2c27.4 579.49%2c481 771.4931689226399%2c481 C 963.49%2c481 1059.49%2c22.8 1251.49316892264%2c24 C 1443.49%2c25.2 1693.79%2c447.6 1731.49316892264%2c487 C 1769.19%2c526.4 1498.3%2c274.2 1440%2c221' stroke='rgba(204%2c 237%2c 255%2c 0.06)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -453.54612703018205%2c203 C -357.55%2c271.6 -165.55%2c534.4 26.45387296981795%2c546 C 218.45%2c557.6 314.45%2c281.8 506.45387296981795%2c261 C 698.45%2c240.2 794.45%2c444.6 986.4538729698179%2c442 C 1178.45%2c439.4 1375.74%2c231.4 1466.453872969818%2c248 C 1557.16%2c264.6 1445.29%2c469.6 1440%2c525' stroke='rgba(204%2c 237%2c 255%2c 0.06)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -945.009671934608%2c183 C -849.01%2c241.6 -657.01%2c482.4 -465.00967193460804%2c476 C -273.01%2c469.6 -177.01%2c170.2 14.990328065391964%2c151 C 206.99%2c131.8 302.99%2c365.2 494.99032806539196%2c380 C 686.99%2c394.8 785.99%2c211 974.990328065392%2c225 C 1163.99%2c239 1347%2c405 1440%2c450' stroke='rgba(204%2c 237%2c 255%2c 0.06)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -203.41699729790486%2c31 C -107.42%2c92.8 84.58%2c321.6 276.58300270209514%2c340 C 468.58%2c358.4 564.58%2c123.8 756.5830027020952%2c123 C 948.58%2c122.2 1044.58%2c333.2 1236.5830027020952%2c336 C 1428.58%2c338.8 1675.9%2c145.8 1716.5830027020952%2c137 C 1757.27%2c128.2 1495.32%2c261 1440%2c292' stroke='rgba(204%2c 237%2c 255%2c 0.06)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -157.40580099315957%2c539 C -61.41%2c459.6 130.59%2c190.6 322.5941990068404%2c142 C 514.59%2c93.4 610.59%2c316.6 802.5941990068404%2c296 C 994.59%2c275.4 1090.59%2c9 1282.5941990068404%2c39 C 1474.59%2c69 1731.11%2c451 1762.5941990068404%2c446 C 1794.08%2c441 1504.52%2c100.4 1440%2c14' stroke='rgba(204%2c 237%2c 255%2c 0.06)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -932.2378427932618%2c389 C -836.24%2c355.2 -644.24%2c236.6 -452.23784279326185%2c220 C -260.24%2c203.4 -164.24%2c316.6 27.762157206738152%2c306 C 219.76%2c295.4 315.76%2c140.2 507.76215720673815%2c167 C 699.76%2c193.8 801.31%2c423 987.7621572067382%2c440 C 1174.21%2c457 1349.55%2c289.6 1440%2c252' stroke='rgba(204%2c 237%2c 255%2c 0.06)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1005'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-position: center;
  background-color: var(--footer-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo {
  margin: 50px 0 35px 0;
  width: 50px;
  height: 50px;
}

.footer-nav-items {
  display: flex;
  list-style: none;
  text-transform: capitalize;
  font-size: 0.9rem;
  margin-bottom: 50px;
}

.footer-nav-items li a {
  margin: 0 20px;
  height: 50px;
  font-weight: 500;
  font-family: 'Raleway', sans-serif;
  
}

.footer-nav-items li a:hover {
  margin: 10px 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--highlight);
}

.copyright {
  background: #fff;
  width: 600px;
  height: 40px;
  margin-bottom: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lato', sans-serif;
}
