.synergy-conc {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    justify-content: center;
    column-gap: 60px;
    margin: 100px 0 50px 0;
}

.synergy {
    margin-bottom: 80px;
}

.img-conc img {
    width: 200px;
    height: 200px;
}

.bottom-line {
    margin: 30px 0;
    width: 80%;
    border: 1px solid #e7d217e3;
}

.synergy-text {
    width: 80%;
    margin-left: 5px;
}

.synergy-text p{
    font-size: .8rem;
    line-height: 1.7;
}

.view-button {
  /* width: 80px; */
  /* height: 30px; */
  background: none;
  border: none;
  font-size: .8rem;
  border-radius: 5px;
  text-transform: uppercase;
  color: #83b905;
  cursor: pointer;
}

.view-button:hover {
  color: #000;
}